/**
 * Toolkit styles
 */

@import 'global/reset';
@import 'global/fonts';
@import 'global/color';
@import 'global/grid';
@import 'global/buttons';
@import 'global/input-text';
@import 'global/select';

.box-grid {
	background-color: #efefef;
	min-height: 1rem;
	text-align: center;
	.box-grid {
		background-color: #ddd;
		.box-grid {
			background-color: #333;
		}
	}
}

.box-container {
	padding: 1rem;
}

.box-large {
	min-height: 6rem;
}