---
notes: |
  Change class .card-blue by .card-pink for card pink
---

	<section class="u-space">
		<h6 class="tabs-subtitle">Información de Asegurados</h6>

		<div class="u-row gutter-lg">
			<div class="col-xs-12 col-lg-6 start-xs u-space">
				<section class="card card-blue z-depth-2">
					<div class="card_container">
						<section class="card_section">
							<h5 class="card_sub-title"><strong>Asegurado</strong></h4>

							<div class="u-row">
								<div class="col-xs-12 col-sm-6">
									<p class="card_item"><strong>Nombre del Asegurado:</strong></p>
									<p class="card_item">Danilo Esteban Llanos Marquez</p>
									<p class="card_item"><strong>Relación:</strong></p>
									<p class="card_item">El Mismo</p>
								</div>

								<div class="tabs_col col-xs-12 col-sm-6">
									<p class="card_item"><strong>Fecha de Nacimiento:</strong></p>
									<p class="card_item">10/03/1965</p>
									<p class="card_item"><strong>Fecha de Inicio de Vigencia:</strong></p>
									<p class="card_item">10/03/1988</p>
								</div>
							</div>


							<div class="card_more center-xs end-sm">
								<a href="" class="f-link openContent is-open" data-open-content="openCoverage">
									<span class="openContentText is-open" data-rest-text="Ocultar Coberturas" data-open-text="Ver coberturas">Ocultar Coberturas</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</div>

						</section>

						<section class="card_section u-divider toggleContent is-open" data-toggle-content="openCoverage">
							<h5 class="card_sub-title"><strong>Coberturas Contratadas</strong></h5>
							<ul class="card_table u-row">
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item"><strong>Nombre Cobertura</strong></p>
									<p class="card_item">Fractura Accidental de Huesos</p>
									<p class="card_item"><strong>Capital Asegurado:</strong></p>
									<p class="card_item">UF: 30</p>
									<p class="card_item"><strong>Prima:</strong></p>
									<p class="card_item"> UF 0.83</p>
									<p class="card_item"><strong>Deducible UF:</strong></p>
									<p class="card_item"> 0.08</p>
								</li>
								<li class="card_table-item col-xs-12 col-md-6">
									<p class="card_item"><strong>Nombre Cobertura</strong></p>
									<p class="card_item">Fractura Accidental de Huesos 2</p>
									<p class="card_item"><strong>Capital Asegurado:</strong></p>
									<p class="card_item">UF: 30</p>
									<p class="card_item"><strong>Prima:</strong></p>
									<p class="card_item"> UF 0.83</p>
									<p class="card_item"><strong>Deducible UF:</strong></p>
									<p class="card_item"> 0.08</p>
								</li>

							</ul>
						</section>
					</div>
				</section>

			</div>

		</div>
	</section>
