
	<footer class="footer">
		<div class="footer_container u-container">
			<div class="footer_row u-row middle-xs start-sm">
				<div class="footer_col col-xs-12 col-sm-3 center-xs">
					<figure class="footer_image">
						<img src="" alt="Logitpo Metlife">
					</figure>
					<div class="footer_info">
						<a href="tel:+6003903000" class="f-link"><i class="material-icons black">phone</i><strong>600 390 3000</strong></a>
					</div>
				</div>
				<div class="footer_col col-xs-12 col-sm-6">
					<ul class="footer_list u-row center-xs start-sm">
						<li class="footer_list-item">
							<a href="" class="f-link f-tiny">Política de privacidad</a>
						</li>
						<li class="footer_list-item">
							<a href="" class="f-link f-tiny">Aviso legal</a>
						</li>
						<li class="footer_list-item">
							<p class="f-tiny">© 2017 Metlife Chile Seguros de Vida S.A, Agustinas 640, Santiago, Chile</p>
						</li>
					</ul>
				</div>
				<div class="footer_col col-xs-12 col-sm-3">
					<ul class="footer_list u-row center-xs end-sm">
						<li class="footer_list-item">
							<p>Síguenos</p>
						</li>
						<li class="footer_list-item">
							<a href="" class="f-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li class="footer_list-item">
							<a href="" class="f-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>