---
notes: |
  See documentation on foundation site for Off Canvas component: http://foundation.zurb.com/sites/docs/off-canvas.html
---
	<nav class="nav">
		<div class="nav_container u-container">
			<ul class="nav_list u-row between-xs dropdown menu" data-dropdown-menu>
				<li class="nav_list-item">
					<a href="#mi-cuenta" class="nav_list-link f-link-white hide-xs show-sm">Mis productos</a>
					<ul class="menu">
					      <li><a href="#">Item 1A</a></li>
					      <!-- ... -->
					    </ul>
				</li>
				<li class="nav_list-item">
					<a href="#ayuda" class="nav_list-link f-link-white hide-xs show-sm">Centro de pagos</a>
				</li>
				<li class="nav_list-item">
					<a href="#salir" class="nav_list-link f-link-white">Ahorro e Inversión</a>
				</li>
				<li class="nav_list-item">
					<a href="#salir" class="nav_list-link f-link-white">Pago de Beneficios</a>
				</li>
				<li class="nav_list-item">
					<a href="#salir" class="nav_list-link f-link-white">Formularios y Documentos</a>
				</li>
			</ul>
		</div>
	</nav>