---
notes: |
  See documentation on foundation site for Off Canvas component: http://foundation.zurb.com/sites/docs/off-canvas.html
---
	<nav class="nav">
		<div class="nav_container u-container">
			<ul class="nav_list u-row between-xs dropdown menu" data-dropdown-menu>
				<li class="nav_list-item">
					<a href="#mi-cuenta" class="nav_list-link f-link-white hide-xs show-sm"><strong>MIS PRODUCTOS</strong></a>
				</li>
				<li class="nav_list-item">
					<a href="#ayuda" class="nav_list-link f-link-white hide-xs show-sm"><strong>CENTRO DE PAGOS</strong></a>
				</li>
				<li class="nav_list-item">
					<a href="#salir" class="nav_list-link f-link-white"><strong>AHORRO E INVERSIÓN</strong></a>
				</li>
				<li class="nav_list-item">
					<a href="#salir" class="nav_list-link f-link-white"><strong>PAGO DE BENEFICIOS</strong></a>
				</li>
				<li class="nav_list-item">
					<a href="#salir" class="nav_list-link f-link-white"><strong>FORMULARIO Y DOCUMENTOS</strong></a>
				</li>
			</ul>
		</div>
	</nav>