---
notes: |
  See documentation on foundation site for Off Canvas component: http://foundation.zurb.com/sites/docs/off-canvas.html
---
	<nav class="sub-nav">
		<div class="sub-nav_container u-container">
			<div class="sub-nav_row u-row middle-xs bottom-sm">
				<div class="sub-nav_col col-xs-4 hide-sm">
					<button type="button" class="button button-link" data-toggle="offCanvas"><i class="material-icons">menu</i></button>
				</div>
				<div class="sub-nav_col u-row center-xs start-sm middle-xs bottom-sm col-xs-4 col-sm-6">
					<figure class="sub-nav_image">
						<a href="#logo">
							<img src="assets/img/logo.png" alt="Logotipo" />
						</a>
					</figure>
					<span class="sub-nav_name hide-xs show-sm"><h6>Bienvenido Daniel Llanos</h6></span>
				</div>
				<div class="sub-nav_col col-xs-4 col-sm-6">
					<ul class="sub-nav_list u-row end-xs">
						<li class="sub-nav_list-item">
							<a href="#mi-cuenta" class="sub-nav_list-link f-link hide-xs show-sm">Mi cuenta</a>
						</li>
						<li class="sub-nav_list-item">
							<a href="#salir" class="sub-nav_list-link f-link">Salir</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>