
	@import './../global/color.scss';

	.tabs {
		border-bottom: 1px solid $primary;
		border: 0;
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0 10px;
		position: relative;
		white-space: nowrap;
		width: 100%;
		&:before {
			display: none;
		}
	}

	.tabs-content {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 0;
	}
	.tabs_content_subtitle{
		padding: 0;
		margin: 0;
		line-height: 1.2;
	}

	.tabs-panel {
		padding: 2rem 19px;
	}

	.tabs_row {
		padding: 0 1.6rem;
	}

	.tabs-subtitle {
		border-bottom: 2px solid $primary;
		margin-bottom: 1rem;
		padding: 0 0 1rem 0;
	}
	.tabs-subtitle-profile {
		border-bottom: 2px solid $primary;
		margin-bottom: 1rem;
		padding: 3rem 0 1rem 0;
	}

	.tabs-title {
		flex-grow: 1;
		a {
			color: $dark-gray;
			position: relative;
			transition: color 0.3s;
			&:before {
				background-color: $primary;
				bottom: 0;
				content: '';
				height: 4px;
				left: 0;
				position: absolute;
				transform: scale3d(0, 1, 1);
				transition: transform 0.1s;
				width: 100%;
			}
		}

		h5 {
			font-family: 'Arial', sans-serif;
			font-size: 16px;
			font-weight: 400;

		}

		& > a {
			padding: 20px 1.5rem 16px;
		}

		&.is-active {
			a {
				background-color: white;
				color: $primary;
				&:before {
					transform: scale3d(1, 1, 1);
					transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
					transition-duration: 0.3s;
				}
			}
		}
	}

	.tabs_wrap-pink {
		.tabs-subtitle {
			border-color: $pink;
		}
		.tabs-title a:before {
			background-color: $pink;
		}
	}

	@media screen and ( min-width: 62em ) {
		.tabs_wrap_container {
			border: 1px solid #bbb;
		}
	}