---
title: Overview | Fabricator
fabricator: true
---

<h1>On design systems</h1>

<p>A design system is a unified set of UX and design rules that promote harmony and consitsency across multiple devices and outputs. Elements expected to appear in a design system are:</p>

<ul>
	<li>Grid & layout</li>
	<li>Accessibility guidelines</li>
	<li>Colors</li>
	<li>Typography</li>
	<li>UI components</li>
	<li>Interaction guidelines</li>
</ul>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;src/assets/toolkit/styles/*.scss&quot;&gt;</code></pre>