// Main palette
  $primary: #0090da;
  $primary-accent: #0061a0;
  $secondary: #a4ce4e;
  $secondary-accent: #7a9816;
  $terciary: #d80a5b;
  $terciary-accent: #a30a46;
  $cuaternary: #00aca0;
  $cuaternary-accent: #018d83;
  $quinary: #5f259f;
  $quinary-accent: #461b75;

// Monotone
  $black: #000;
  $dark-gray-2: #333;
  $dark-gray: #7f7f7f;
  $medium-gray: #b2b2b2;
  $gray: #d9d9d9;
  $black-05: #f2f2f2;

// Utility
  $success: #7a9816;
  $information: #ffc600;
  $error: #db0a5b;
  $document-note: #eb5ecb;
  $document-note-2: #fdeef9;