
	@import 'color.scss';

	[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
		border: 1px solid !important;
		box-shadow: none !important;
	}

	.input {
		display: inline-block;
		max-width: 350px;
		position: relative;
		vertical-align: top;
		width: calc(100% - 2em);
		z-index: 1;
	}

	.input__field {
		-webkit-appearance: none; /* for box shadows to show on iOS */
		border: 1px;
		border-radius: 3px;
		border-color: $medium-gray;
		color: $gray;
		display: block;
		float: right;
		padding: 0.8em;
		position: relative;
		width: 60%;
	}

	.input__field:focus {
		background-color: $black-05;
		border-color: $primary;
		border-radius: 3px;
		outline: none;
	}

	.input__label {
		color: $dark-gray-2;
		display: inline-block;
		float: right;
		font-weight: 400;
		padding: 0 1em;
		user-select: none;
		width: 40%;
	}

	.input__label-content {
		display: block;
		padding: 1.6em 0;
		position: relative;
		width: 100%;
	}

	.input--ichiro {
		margin-top: 2em;
	}

	.input__field--ichiro {
		background: $black-05;
		color: $dark-gray;
		display: block;
		left: 4px;
		opacity: 0;
		padding: 0 0.55em;
		position: absolute;
		top: 4px;
		transform-origin: 50% 100%;
		transform: scale3d(1, 0, 1);
		transition: opacity 0.3s, transform 0.3s !important;
		width: calc(100% - 8px);
		z-index: 100;
	}

	.input__label--ichiro {
		cursor: text;
		text-align: left;
		width: 100%;
		border-radius: 3px;
	}

	.input__label--ichiro::before {
		background: #fff;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		transition: transform 0.3s;
		width: 100%;
	}

	.input__label-content--ichiro {
		transform-origin: 0% 50%;
		transition: transform 0.3s;
		border: none;
	}

	.input__field--ichiro:focus,
	.input--filled .input__field--ichiro {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

	.input__field--ichiro:focus + .input__label--ichiro,
	.input--filled .input__label--ichiro {
		cursor: default;
		pointer-events: none;
	}

	.input__field--ichiro:focus + .input__label--ichiro::before,
	.input--filled .input__label--ichiro::before {
		transform: scale3d(1, 1.5, 1);
	}

	.input__field--ichiro:focus + .input__label--ichiro .input__label-content--ichiro,
	.input--filled .input__label-content--ichiro {
		transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
	}

	.input--error .input__label {
		color: $error;
	}

	.input--error .input__field {
		background-color: $error-light;
		color: $error;
	}