
	table {
		margin-bottom: x0;
		thead {
			background: #fff;
		}
	}

	table thead,
	table tbody,
	table tfoot {
		border-top: 0;
		border-bottom: 1px solid $medium-gray;
	}

	.u-striped {
		tbody {
			tr {
				border-top: 1px solid $medium-gray;
				&:nth-of-type( even ) {
					background-color: white;
				}
				&:nth-of-type( odd ) {
					background-color: $white-light-2;
				}
			}

		}

	}

	.table_desc {
		margin-bottom: 0;
	}

	.table_label_title {
		margin-bottom: 0;
	}

	.table-responsive {
		display: block;
		width: 100%;
		table,
		tbody,
		td,
		tr {
			display: block;
		}
		td[data-table-title] {
			position: relative;
			&:before {
				content: attr( data-table-title );
				font-weight: bolder;
			}
		}
		thead {
			display: none;
		}
		.table_desc {
			text-align: left;
		}
	}

	.table-scroll {
		table {
			border-spacing: initial;
			width: 100%;
		}
	}

	.table_title {
		margin-bottom: 0;
	}

	@media screen and ( min-width: 62em ) {
		.u-striped {
			padding: 1rem 0;
			tbody {
				tr {
					border-bottom: 0;
					&:last-of-type {
						border-bottom: 1px solid $medium-gray;
					}
				}
			}
		}

		.table-responsive {
			display: table;
			table,
			tbody,
			td {
				border: 0;
				display: table-cell;
			}
			thead {
				border: 0;
				display: table-caption;
			}
			tr {
				display: table;
				width: 100%;
				td {
					&:first-of-type {
						.table_desc {
							text-align: left;
						}
					}
				}
			}
			.table_desc {
				max-width: 100%;
			}
		}

		.table-1 {
			min-width: 95px;
		}

		.table-2 {
			min-width: 190px;
		}

		.table-3 {
			min-width: 285px;
		}

		.table-4 {
			min-width: 380px;
		}

		.table-5 {
			min-width: 475px;
		}

		.table-6 {
			min-width: 570px;
		}

		.table-7 {
			min-width: 665px;
		}

		.table-8 {
			min-width: 760px;
		}
		.table-10 {
			min-width: 860px;
		}

		.table-double {
			.table-1 {
				min-width: 56.5px;
			}

			.table-2 {
				min-width: 113px;
			}

			.table-3 {
				min-width: 169.5px;
			}

			.table-4 {
				min-width: 226px;
			}

			.table-5 {
				min-width: 282.5px;
			}

			.table-6 {
				min-width: 339px;
			}

			.table-7 {
				min-width: 395.5px;
			}

			.table-8 {
				min-width: 452px;
			}
			.table-10 {
				min-width: 565px;
			}
		}

		.table-responsive {
			td[data-table-title] {
				&:before {
					content: none;
				}
			}
		}

	}